/**************************
		COLUMNS
**************************/

[_col] {
	margin: 0 25px;
	float: left;
}

[_col~="1"] {
	width: 25%;
}

[_col~="2"] {
	width: 50%;	
}


/**************************
		GLOBALS
**************************/

body {
	max-width: 960px;
	margin: 25px auto;
	padding: 0 25px;
}

section {
	margin-bottom: 25px;
}

[_clearfix]:after {
	display: table;
	clear: both;
	content: "";
}

/**************************
		TYPOGRAPHY
**************************/

body {
	font-size: 1em;
	line-height: 1.5625em;
	font-weight: 100;
	color: #2d2d2d;
}

h1, h2, h3, h4, p, ul, li {
	margin: 0;
	padding: 0;
}

h1 {
	font-size: 2.125em; /* 34px */
	/*line-height: 2.875em; */ /* 46px */
	line-height: 1em;
	font-weight: 700;
}

h2 {
	font-size: 1.625em; /* 26px */
	/*line-height: 2.25em; /* 36px */*/
	font-weight: 700;
}

h3 {
	font-size: 1.625em; /* 26px */
	/*line-height: 1.875em; /* 30px */*/
	font-weight: 300;
}

h4 {
	font-size: 1.3125em; /* 21px */
	/*line-height: 1.5625em; /* 25px */*/
	font-weight: 300;
}

p {
	margin: 0 0 10px;
}

em {
	/*color: #BCC7B0;*/
}

a:link {
	text-decoration: none;
	color: #509DA5;
}

a:hover, a:active {
	color: #999;
}

a:active {
	font-weight: 300;
}

li {
	list-style: none;
}

[_nav] a:link, [_nav] a:visited {
	color: #2d2d2d; 
}

[_nav] a:hover, [_nav] a:active {
	color: #BCC7B0;
	border-bottom: solid 4px;
	font-weight: 300;
}

[_content] h1 {
	text-align: right;
}

[_content] li {
	margin-bottom: 15px;
}


/**************************
		HEADER
**************************/
header {
	margin: 0 0 45px;
}

[_logo] {
	float: left;
	width: 166px;
}

/**************************
		NAVIGATION
**************************/

[_nav] {
	float: right;
	margin: 90px 0 0;
	padding: 0;
}

[_nav-item] {
	list-style: none;
	float: left;
	padding-left: 25px;
}

/*************************
		ABOUT
*************************/

[_content] {
	padding: 15px 35px 35px;
	margin: 0 auto;
	border-top: solid 1px #999;
}

/*************************
		STYLE TILE
*************************/

[_color], [_imagery] {
	border-radius: 50%;
	float: left;
	margin-right: 25px;
	height: 60px;
	width: 60px;
}

[_color~="1"] {
	background-color: #2d2d2d;
}

[_color~="2"] {
	background-color: #3D3E45;
}

[_color~="3"] {
	background-color: #999;
}

[_color~="4"] {
	background-color: #509DA5;
}

[_color~="5"] {
	background-color: #BCC7B0;
}


